apiVersion: v1
kind: Secret
type: Opaque
metadata:
  name: "{{ login_secret }}"
  namespace: "{{ luna_data_secret_namespace }}"
data:
  "{{ login_secret_field }}": "{{ luna_partition_password | string | b64encode }}"
