apiVersion: v1
kind: Secret
type: Opaque
metadata:
  name: "{{ luna_cert_secret }}"
  namespace: "{{ luna_cert_secret_namespace }}"
data:
  "{{ client_ip }}.pem": "{{ lookup('ansible.builtin.file', working_dir + '/certs/' + client_ip + '.pem') | string | b64encode }}"
  "{{ client_ip }}Key.pem": "{{ lookup('ansible.builtin.file', working_dir + '/certs/' + client_ip + 'Key.pem') | string | b64encode }}"
  "CACert.pem": "{{ lookup('ansible.builtin.file', working_dir + '/certs/' + server_ca_file) | string | b64encode }}"
