apiVersion: v1
kind: Secret
type: Opaque
metadata:
  name: "{{ luna_data_secret }}"
  namespace: "{{ luna_data_secret_namespace }}"
data:
  "Chrystoki.conf": "{{ lookup('ansible.builtin.file', working_dir + '/Chrystoki.conf') |string |b64encode }}"
  "{{ luna_client_name }}.pem": "{{ lookup('ansible.builtin.file', working_dir + '/certs/' + luna_client_name + '.pem') | string | b64encode }}"
  "{{ luna_client_name }}Key.pem": "{{ lookup('ansible.builtin.file', working_dir + '/certs/' + luna_client_name + 'Key.pem') | string | b64encode }}"
  "{{ server_ca_file }}": "{{ lookup('ansible.builtin.file', working_dir + '/certs/' + server_ca_file) | string | b64encode }}"
